<!DOCTYPE html>

<html>

<head>

    <title>
        Dashboard
    </title>

    <link
    href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
    rel="stylesheet">

</head>

<body>

<div class="container mt-5">

    <h1>
        Dashboard Page
    </h1>

    <div class="row g-4 mt-4">

        <div class="col-md-3">

            <div class="card p-4 bg-primary text-white">

                <h5>
                    Class Average
                </h5>

                <h2>
                    {{ average }}
                </h2>

            </div>

        </div>

        <div class="col-md-3">

            <div class="card p-4 bg-success text-white">

                <h5>
                    Topper
                </h5>

                <h2>
                    {{ topper }}
                </h2>

            </div>

        </div>

    </div>

    <div class="mt-5">

        {{ chart | safe }}

    </div>

</div>
<script>

const themeToggle =
document.getElementById("themeToggle");

function enableDarkMode() {

    document.body.classList.add("dark-mode");

    localStorage.setItem(
        "theme",
        "dark"
    );

    themeToggle.innerText =
    "Light Mode";
}

function disableDarkMode() {

    document.body.classList.remove("dark-mode");

    localStorage.setItem(
        "theme",
        "light"
    );

    themeToggle.innerText =
    "Dark Mode";
}

if (
    localStorage.getItem("theme")
    === "dark"
) {

    enableDarkMode();
}

themeToggle.addEventListener(
    "click",
    () => {

        if (
            document.body.classList.contains(
                "dark-mode"
            )
        ) {

            disableDarkMode();

        }

        else {

            enableDarkMode();

        }

    }
);

</script>
</body>

</html>